{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": "60",
                    "ie": "11",
                    "firefox": "55",
                    "edge": "13",
                    "safari": "11"
                }
            }
        ],
        "@babel/preset-react"
    ]
}
